@charset "UTF-8";

body {
	background: #ffffff url("../patterns/double-bubble-outline.png");
}

.titreFilm {
	display: flex;
	flex-flow: row nowrap;
}

.titreFilm a {
	display: flex;
	align-items: center;
}

.titreFilm i {
	position: relative;
	top: .3em;
	color: #777777;
}

i.iEdit {
	font-size: 3.5em;
	margin-left: 1em;
	color: #0277bd;
}

h1 {
	text-align: center;
	font-size: 3em;
	color: #444444;
}

h2 {
	color: #555555;
	font-size: 2em;
}

h4 {
	text-align: justify;
	font-size: 1.1em;
	text-indent: 1em;
	line-height: 1.8em;
}

.containerDetail {
	/* 	margin: 5em auto 2em auto; */
	padding: 2em;
	background-color: #ffffff;
	border-radius: .7em;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	margin-bottom: 2em;
	position: relative;
	bottom: 2em;
}

.detailIcon {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.detailIcon i {
	position: relative;
	top: 0.7em;
	font-size: 2.5rem;
	color: #4527a0;
}

.detailIcon h2 {
	margin-left: .5rem;
	font-size: 1.5em;
}

.iconH2 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.iconH2 img {
	width: 2.5em;
	height: 2.5em;
	position: relative;
	top: 2.1em;
	margin-right: 0.5em;
}

.souligneDetail {
	height: 2px;
	padding: 1px;
	margin: 2.5em 0 2em 0;
	background: linear-gradient(to right, rgba(69, 39, 160, 0), rgba(69, 39, 160, .5), rgba(69, 39, 160, 1), rgba(69, 39, 160, .5), rgba(69, 39, 160, 0));
}