<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/css/alk.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/css/formulaire.css}" type="text/css" rel="stylesheet" />

<title>Ajouter un film</title>
</head>
<body>


	<div class="container containerDetail">

		<h1>Ajouter un film</h1>
		<br /> <br />

		<div class="row">
			<form class="col s12" method="post" th:object=${film} th:action="@{/film/valider}">
				<div class="row">
					<div class="input-field col s8">
						<input type="text" class="validate" th:field="*{titre}"> <label for="titre">Titre</label>
					</div>
					<div class="input-field col s4">
						<input type="text" class="datepicker" th:field="*{annee}"> <label for="annee">Date de sortie</label>
					</div>
				</div>

				<!-- 				<div class="row"> -->
				<!-- 					<div class="input-field col s12"> -->
				<!-- 												<input type="text" class="validate" th:field="*{realisateur}"> <label for="realisateur">Réalisateur</label> -->
				<!-- 						<input type="text" class="validate"> <label for="realisateur">Réalisateur</label> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<!-- 				<div class="row"> -->
				<!-- 					<div class="input-field col s12"> -->
				<!-- 												<input type="text" class="validate"  th:field="*{acteurs}"> <label for="password">Acteurs</label> -->
				<!-- 						<input type="text" class="validate"> <label for="password">Acteurs</label> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<!-- 				<div class="row"> -->
				<!-- 					<div class="input-field col s12"> -->
				<!-- 												<input type="text" class="validate"  th:field="*{genre}"> <label for="password">Acteurs</label> -->
				<!-- 						<input type="text" class="validate"> <label for="acteurs">Acteurs</label> -->
				<!-- 					</div> -->
				<!-- 				</div> -->

				<div class="input-field col s12">
					<select>
						<option value="" disabled selected>Choose your option</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					</select> <label>Materialize Select</label>
				</div>

				<div class="input-field col s12">
					<select multiple>
						<option value="" disabled selected>Choose your option</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					</select> <label>Materialize Multiple Select</label>
				</div>

				<div class="row">
					<div class="row">
						<div class="input-field col s12">
							<textarea id="textarea1" class="materialize-textarea"></textarea>
							<label for="textarea1" th:field="*{synopsis}">Synopsis</label>
						</div>
					</div>
				</div>
				<div class="buttonsform">
					<a class="waves-effect waves-light btn pink darken-1" th:href="@{/liste}">Annuler</a>
					<button class="btn waves-effect waves-light" type="submit" name="action">
						Ajouter <i class="material-icons right">send</i>
					</button>
				</div>
			</form>
		</div>


	</div>

	<!--  Scripts-->
	<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
	<script type="text/javascript" th:src="@{/js/init.js}"></script>


	<script th:inline="javascript">
		M.AutoInit();
	</script>

</body>
</html>
