<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/css/alk.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/css/formulaire.css}" type="text/css" rel="stylesheet" />

<title>Ajouter un film</title>
</head>
<body>


	<div class="container containerDetail">

		<h1>Ajouter un film</h1>
		<br /> <br />

		<div class="row">
			<form class="col s12" method="post" th:object=${film} th:action="@{/film/valider}">
				<div class="row">
					<div class="input-field col s6">
						<input type="text" class="validate" th:field="*{titre}"> <label for="titre">Titre</label>
					</div>
					<div class="input-field col s3">
						<input type="text" class="validate" th:field="*{annee}"> <label for="annee">Date de sortie</label>
					</div>
					<div class="input-field col s3">
						<input type="text" class="validate" th:field="*{duree}"> <label for="duree">Durée</label>
					</div>
				</div>

				<!-- Liste Réalisateurs -->
				<div class="input-field col s12">
					<select th:field="*{realisateur}">
						<option value=""></option>
						<option th:each="realisateur : ${realisateurs}" th:value="${realisateur.id}" th:text="${realisateur.prenom} + ' ' + ${realisateur.nom} ">Steven Spielberg</option>
					</select> <label for="realisateur">Realisateur</label>
				</div>

				<!-- Liste Acteurs -->
				<div class="input-field col s12">
					<select th:field="*{acteur}" multiple>
						<option value=""></option>
						<option th:each="acteur : ${acteurs}" th:value="${acteur.id}" th:text="${acteur.prenom} + ' ' + ${acteur.nom}">Christopher Lloyd</option>
						
					</select> <label for="acteurs">Acteurs</label>
				</div>

				<!-- Liste Genres -->
				<div class="input-field col s12">
					<select th:field="*{genre}">
						<option value=""></option>
						<option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.libelle}">Horreur</option>
					</select> <label for="genre">Genre</label>
				</div>

				<div class="row">
					<div class="row">
						<div class="input-field col s12">
							<textarea id="textarea1" class="materialize-textarea" th:field="*{synopsis}"></textarea>
							<label for="textarea1">Synopsis</label>
						</div>
					</div>
				</div>
				<div class="buttonsform">
					<a class="waves-effect waves-light btn pink darken-1" th:href="@{/liste}">Annuler</a>
					<button class="btn waves-effect waves-light" type="submit" name="action">
						Ajouter <i class="material-icons right">send</i>
					</button>
				</div>
			</form>
		</div>


	</div>

	<!--  Scripts-->
	<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
	<script type="text/javascript" th:src="@{/js/init.js}"></script>


	<script th:inline="javascript">
		M.AutoInit();
	</script>

</body>
</html>
