<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/css/alk.css}" type="text/css" rel="stylesheet" />

<title>Liste des films</title>
</head>

<body>

	<!-- NAVBAR -->
	<nav class="deep-purple darken-3" style="height: 7em;">
		<div class="nav-wrapper">
			<a href="#" class="notrelogo"><img src="icons/notreLogo2.jpg" alt="logo" /></a>
			<ul class="right hide-on-med-and-down">
			<!-- SI MEMBRE OU ADMIN -->
				<li><a href="#" class="connexionIcones"><img src="icons/enter.png" alt="se connecter" /></a></li>
			<!-- SI MEMBRE OU ADMIN -->
				<li><a href="#" class="connexionIcones"><img src="icons/logout.png" alt="se déconnecter" /></a></li>
			<!-- SI MEMBRE OU ADMIN -->
				<li><a href="#" class="connexionIcones"><img src="icons/add-user.png" alt="s'inscrire" /></a></li>
			</ul>
		</div>
	</nav>
	
	

  <ul id="slide-out" class="sidenav">
    <li>
	    <div class="user-view">
	    	<a href="#user"><img src="icons/notreLogo2.jpg" width="100" style="border-radius: .5em;"></a>
	    </div>
    </li>
    <li><a href="#!"><i class="material-icons">people</i>Qui nous sommes</a></li>
    <li><a href="#!"><i class="material-icons">person</i>Qui je suis</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Nos engagements :</a></li>
    <li><a href="#!"><i class="material-icons">phone</i>À votre écoute</a></li>
    <li><a href="#!"><i class="material-icons">smoke_free</i>Ne fumez pas</a></li>
    <li><a href="#!"><i class="material-icons">spa</i>Mangez des fleurs</a></li>
    <li><a href="#!"><i class="material-icons">blur_circular</i></a></li>
  </ul>
<!-- 	<div> -->
  		<a href="#" data-target="slide-out" class="sidenav-trigger menuBurger"><img src="icons/list.png" alt="menu" /></a>
<!-- 	</div> -->

	<div class="carousel">
		<a class="carousel-item" href="http://localhost:8080/detail/1"><img src="img/deLorean.jpg">Retour vers le futur</a>
		<a class="carousel-item" href="http://localhost:8080/detail/2"><img src="img/fightClub.jpg">Fight Club</a>
		<a class="carousel-item" href="http://localhost:8080/detail/3"><img src="img/forestGump.jpg">Forest Gump</a>
		<a class="carousel-item" href="http://localhost:8080/detail/4"><img src="img/pulpFiction.jpg">Pulp Fiction</a>
		<a class="carousel-item" href="http://localhost:8080/detail/5"><img src="img/starWars.jpg">L'Empire contre-attaque</a>
		<a class="carousel-item" href="http://localhost:8080/detail/6"><img src="img/anneau.jpg">Le Seigneur des Anneaux</a>
		<a class="carousel-item" href="http://localhost:8080/detail/7"><img src="img/batman.jpg">The Dark Knight</a>
		<a class="carousel-item" href="http://localhost:8080/detail/8"><img src="img/bladeRunner.jpg">Blade Runner</a>
		<a class="carousel-item" href="http://localhost:8080/detail/9"><img	src="img/interstellar.jpg">Interstellar</a>
		<a class="carousel-item" href="http://localhost:8080/detail/10"><img src="img/godfather.jpg">Le Parrain</a>
	</div>

	<div class="container">
		<h1>Liste des films</h1>
		<div class="souligneEtAjoute">
			<div class="souligne"></div>
			<a th:href="@{/film/ajouter}"><i class="large material-icons">add_circle</i></a>
		</div>

		<ul class="collapsible" th:each="film:${films}">
			<li>
				<div class="collapsible-header">
					<i class="material-icons" style="color: #555555">local_movies</i><span th:text="${film.titre}"></span> <span
						class="badge" th:text="${film.annee.year}"
						style="display: inline-block; background-color: rgba(136, 221, 255, .3); border-radius: .2em; color: #113377;"></span>
				</div>
				<div class="collapsible-body">
					<p>
						<span th:text="${film.duree}"></span> minutes
					</p>
					<p th:text="${film.synopsis}">Lorem ipsum</p>
					<!-- SI MEMBRE OU ADMIN -->
					<a href="#"><i class="Medium material-icons">mode_edit</i></a>
					<a th:href="@{'/detail/' + ${film.id}}"><i class="Medium material-icons">remove_red_eye</i></a>
				</div>
			</li>
		</ul>
		<ul class="pagination">
			<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
			<li class="active"><a href="#!">1</a></li>
			<li class="waves-effect"><a href="#!">2</a></li>
			<li class="waves-effect"><a href="#!">3</a></li>
			<li class="waves-effect"><a href="#!">4</a></li>
			<li class="waves-effect"><a href="#!">5</a></li>
			<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
		</ul>
	</div>

	<footer class="page-footer grey darken-4">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Uswap inc.</h5>
				</div>

				<div class="col l3 s12">
					<h5 class="white-text">©ENI</h5>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">GroupeFBO</h5>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Déveuloppèd by les non-binaires <a class="orange-text text-lighten-3" href="#">Amilcar & Lewis</a>
			</div>
		</div>
	</footer>


	<!--  Scripts-->
	<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
	<script type="text/javascript" th:src="@{/js/init.js}"></script>


	<script th:inline="javascript">
		M.AutoInit();
	</script>
	
</body>
</html>